* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #212121;
}

.watch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  width: 400px;
  height: 550px;
  background: rgba(255, 255, 255, 0.25);
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 30px;
  border-bottom-left-radius: 1000px;
  border-bottom-right-radius: 1000px;
}

.date-time {
  font-size: 12px;
  padding: 5px;
  margin-bottom: 10px;
}

.container {
  position: relative;
  margin-bottom: 50px;
}

.digital {
  width: 300px;
  height: 100px;
  border-radius: 5px;
  background: url(images/home-background.png) center / cover fixed no-repeat;
  border: 2px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.digital span {
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 3px;
}

.digit {
  padding: 5px;
  font-size: 50px;
  width: 70px;
  border-top: 1px solid rgba(249, 249, 249, 0.5);
  border-bottom: 1px solid rgba(249, 249, 249, 0.5);
  box-shadow: 0 0 30px rgba(249, 249, 249, 0.05);
  border-radius: 5px;
  text-align: right;
}

.dots {
  font-size: 40px;
  width: 20px;
  height: 50px;
  display: flex;
  justify-content: center;
}

.clock {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  /* background-color: rgba(255, 255, 255, 0.1); */
  background: url(images/home-background.png) center / cover fixed no-repeat;
  border: 2px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */
}

.clock::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  z-index: 2;
}

.clock span {
  position: absolute;
  transform: rotate(calc(30deg * var(--i)));
  inset: 12px;
  text-align: center;
  vertical-align: top;
}

.clock span i {
  position: absolute;
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  transform: translateX(10px) translateY(-5px);
}

.clock span b {
  text-align: center;
  transform: rotate(calc(-30deg * var(--i)));
  display: inline-block;
  font-size: 20px;
  margin: 8px;
}

.hand {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hand i {
  position: absolute;
  background-color: var(--clr);
  width: 4px;
  height: var(--h);
  border-radius: 8px;
}

.hand b {
  /* display: none; */
  position: absolute;
  background-color: var(--clr);
  opacity: 0.5;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  font-size: 20px;
  transform: translateY(-134px);
}
